* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #a8aaa8;
    --secondary-color: #383c3d;
    --tertiary-color: #0f8031;
    --quaternary-color: #f7f8f7;
}
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    position: relative;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    color:  var(--secondary-color);
    margin: 0;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 15px;
    text-decoration:none;
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}
.hero {
    height: 500px;
    width: 100%;
    background-image: url("../images/Homepage\ -\ Hero\ Image.jpg");
    background-size: cover;
}
.hero h2 {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 48px;
    text-align: center;
    padding: 5%;
}
.hero-form {
    border: 3px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding: 10px;
}
.hero textarea {
    width: 50%;
    margin: 2.5%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    padding-top: 12px;
}
.hero-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    margin-bottom: 2%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.hero-form button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
      header h1 {
        width: 100%;
        text-align: center;
    }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
      header nav ul li a {
        font-size: 20px;
    }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
    } 
    .hero-cta, .hero-form {
        width: 100%;
    }
      
      .hero-cta {
        text-align: center;
    }
    .section-title {
        width: 80%;
    }
      
      .trainer {
        flex: 0 70%;
    }
      .contact-info iframe{
        flex: 1 100%;
    }
  }
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }
      .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
      .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
      .step-text {
        flex: 100%;  
    }
    .service-grid-container {
        grid-template-columns: 1fr 1fr;
    }
      .service-grid-item.basic {
        grid-column: 1;
    }
      .service-grid-item.both {
        grid-column: 1 / -1;
    }
      .service-grid-item.cancel {
        transform: none;
        writing-mode: unset;
        grid-column: 1 / -1;
        grid-row: -1;
    }
    .trainer-img h3 {
        display: none;
    }
    .trainer-img h4 {
        display: none;
    }
    .trainer-img::after {
        display: none;
    }
    .trainer-bio h3 {
        display: block;
    }
    .trainer-bio h4 {
        display: block;
    }
}
@media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
    .section-title {
      width: 95%;
    }
    .intro p {
      width: 100%;
    }
    .trainer {
      flex: 0 100%;
    }
    .contact-info {
      text-align: center;
    }
    .contact-info > * {
      flex: 0 100%;
    }
    .contact-form {
        order: 3;
    }
}